@import "tailwindcss";

:root {
  --color-white: #fdfdfd;
  --color-black: #1e1e1e;
  --color-primary: #0cacac;
  --color-secondary: #4c9c94;
  --color-accent: #a9baba;
  --color-background: #555555;
}

html {
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 12px;
    background: var(--color-background);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 6px;
    border: 2px solid var(--color-secondary);
  }

  &::-webkit-scrollbar-track {
    background: var(--color-background);
    border-radius: 6px;
  }

  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--color-background);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Helvetica, sans-serif;
}
